// Цвета светлой темы
$main-color: #4CAF50;
$text-color: #333;
$bg-color: #f8f8f8;

// Цвета тёмной темы
$dark-bg: #222;
$dark-text: #eee;
$dark-border: #555;

// Точки адаптива
$mobile: 600px;
